.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
}

.nofapathon {
    background: linear-gradient(to right, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 60vh;
    object-fit: contain;
}