.main {
  background-color: #FFDEE9;
  background-image: linear-gradient(90deg, #ffffff 0%, #ffb9be 100%);
}

.mainDiv {
  display: flex;
  justify-content: space-around;
  margin: 10vh auto;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.buttonContent {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      #FF9A8B 10.8%,
      #FF6A88 94.3%);
  transition: all 0.475s;
}